
#main {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: inline-block;
    width: 260px;
    height: 100px;
    background-color: lightskyblue;
    border: 1px solid gray;
    margin: 10px;
}

.card-photo {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
}

.card-photo > img {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-info {
    display: inline-block;
    width: 150px;
    height: 100px;
    padding: 5px;
    position: absolute;
}

.card-info2 {
    display: inline-block;
    width: 250px;
    height: 100px;
    padding: 5px;
    position: absolute;
}

.card-info-name {
    text-align: center;
}


.card-info-name2 {
    text-align: center;
}
.clip-circle {
    width: 64px;
    height: 64px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    padding-right: 5px;
}
.pluse-red {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    transform: scale(1);
    animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}