
#main {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: inline-block;
    width: 260px;
    height: 100px;
    background-color: lightskyblue;
    border: 1px solid gray;
    margin: 10px;
}

.card-photo {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
}

.card-photo > img {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-info {
    display: inline-block;
    width: 150px;
    height: 100px;
    padding: 5px;
    position: absolute;
}

.card-info2 {
    display: inline-block;
    width: 250px;
    height: 100px;
    padding: 5px;
    position: absolute;
}

.card-info-name {
    text-align: center;
}


.card-info-name2 {
    text-align: center;
}